@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Big Shoulders Display", sans-serif;
    display: flex;
    background: #ccc;
    color: #fff;
}

.section1,
.section2,
.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;


}

.container1 {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    background: hsl(31, 77%, 52%);
    height: 70vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 7rem;
    margin-top: 7rem;
    border-radius: 0.5rem;

}

.container2 {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    background: hsl(184, 100%, 22%);
    height: 70vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    bottom: 0;
    right: 0;
    margin-top: 7rem;
    border-radius: 0.5rem;

}

.container3 {
    display: flex;
    flex-direction: column;
    background: hsl(179, 100%, 13%);
    height: 70vh;
    width: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-right: 20px;
    margin-right: 7rem;
    margin-top: 7rem;
    border-radius: 0.5rem;

}

img {
    width: 10rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 70px;
}

h1 {
    width: 70px;
    font-size: 40px;
    font-weight: 800;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-right: 10rem;
}

p {
    font-size: 20px;
    line-height: 1.0;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 50px;

}

.btn {
    margin: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    color: hsl(31, 77%, 52%);
    border: none;
}

.btn2 {
    margin: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    color: hsl(184, 100%, 22%);
    border: none;
}

.btn3 {
    margin: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    color: hsl(179, 100%, 13%);
    border: none;
}